<?xml version="1.0"?>
<config>
    <modules>
        <AV_CmsStat>
            <version>1.0.2</version>
        </AV_CmsStat>
    </modules>
    <global>
        <blocks>
            <av_cmsstat>
                <class>AV_CmsStat_Block</class>
            </av_cmsstat>
        </blocks>
        <helpers>
            <av_cmsstat>
                <class>AV_CmsStat_Helper</class>
            </av_cmsstat>
        </helpers>
        <models>
            <av_cmsstat>
                <class>AV_CmsStat_Model</class>
            </av_cmsstat>
        </models>
        <resources>
            <av_cmsstat_setup>
                <setup>
                    <module>AV_CmsStat</module>
                    <class>AV_CmsStat_Model_Resource_Setup</class>
                </setup>
            </av_cmsstat_setup>
        </resources>
        <events>
            <controller_action_predispatch_cms_page_view>
                <observers>
                    <av_cmsstat>
                        <class>av_cmsstat/counter</class>
                        <method>viewCounter</method>
                    </av_cmsstat>
                </observers>
            </controller_action_predispatch_cms_page_view>
            <adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <av_cmsstat_page_edit_tab_content>
                        <type>singleton</type>
                        <class>av_cmsstat/observer</class>
                        <method>addNewCmsField</method>
                    </av_cmsstat_page_edit_tab_content>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
        </events>
    </global>
    <crontab>
        <jobs>
            <av_cmsstat_setattribute>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>av_cmsstat/counter::setAttribute</model>
                </run>
            </av_cmsstat_setattribute>
        </jobs>
    </crontab>
</config>
